/* Start Global */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* End  Global */
body {
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Container {
  width: 75vw;
  margin: 0 auto;
  margin-top: 10px;
}
.clear {
  clear: both;
}
/* Start Header */
.main {
  color: #ddd;
  height: 60px;
  padding: 5px;
  text-align: center;
}
.main .logo {
  width: 200px;
  margin-top: 10px;
  float: left;
}
.main .logo img {
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .main .logo img {
    margin-left: 90px;
  }
}
nav {
  width: 100%;
}
nav ul {
  float: right;
  margin: 20px 20px 0 0;
}
nav ul li {
  float: left;
  list-style-type: none;
  padding: 10px;
  margin: 0 5px;
  background-color: #ff3c3cec;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}
@media only screen and (max-width:500px) {
  nav ul li {
    padding: 0;
  }
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
}
/* End Header  */
/* Start Articles */
article .heading {
  background-color: #ececec;
  text-align: center;
  margin: 5% 0;
  padding: 5%;
  border-radius: 10px;
}
article .heading h1::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ddd;
  position: absolute;
  left: 0;
  bottom: -20px;
}
article .heading h1 {
  color: #ff3c3cec;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: -3px;
  margin: 0 0 20px;
  line-height: 1.4;
  position: relative;
  display: inline-block;
}
article .heading h1::after {
  content: "";
  width: 40px;
  height: 10px;
  background-color: #0075ff;
  position: absolute;
  left: 50%;
  bottom: -24px;
  margin-left: -20px;
  border-radius: 6px;
}
article .heading .description {
  /* direction: rtl; */
  font-size: 20px;
  margin: 20px auto 0;
  line-height: 2;
  color: #141414;
}
article .train {
  /* direction: rtl; */
  background-color: #ececec;
  border-right: 4px solid #ff3c3cec;
  border-left: 4px solid #ff3c3cec;
  border-radius: 5px;
  padding: 4%;
  margin-bottom: 20px;
}
article .train .num {
  float: left;
  color: #ff3c3cec;
  font-size: 200%;
  margin-top: -40px;
  margin-left: -30px;
}
article .train h1{
  margin-left: 20px;
}
article .train h1 a {
  text-decoration: none;
  display: block;
  font-size: 120%;
  color: #ff3c3cec;
  padding-bottom: 10px;
}
article .train h3 {
  color: #666666;
  margin-left: 20px;
}

/* End Articles */

/* Start Footer  */
footer {
  background-color: #ddd;
  border-radius: 5px;
}
footer p {
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
}
footer p i {
  color: #ff3c3cec;
}
/* End Footer  */
